* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  background-color: rgb(207, 207, 207);
  border: 5px grey solid;
  display: flex;
  flex-direction: column;
}

.info {
  background-color: red;
  display: flex;
  justify-content: space-between;
}

.work {
  background-color: green;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.arrow {
  display: inline-block;
  background-color: grey;
}

.dylu {
  display: inline-block;
  background-color: grey;
}

#canvas {
  box-sizing: content-box;
  border: 1px black solid;
}

.startBtn {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}

.startBtn:hover {
  background-color: darkgrey;
}
